*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
/* targeting nav bar divs */
#maindiv{
    box-shadow: 2px 2px 3px black;
    height: 97px;
    /* margin-top: 3px; */
    /* border: 2px solid rgb(175, 152, 152); */
    display: flex;
    background-color: #476b6b;
}
#leftdiv{
    height: 80px;
    width: 50%;
    /* background-color: aqua; */
}
#rightdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 50%;
    /* background-color: blue; */
}

#rightdiv>button{
    background-color: #c3cccc;
    border: 1px solid #44645d;
    height: 50px;
    width: 100px;
    position: relative;
    left: 250px;
    
}
#rightdiv>button:hover{
    background-color: #6e8681;
    box-shadow: 1px 1px 2px black;
   
}
/* targeting left div navigation bar */
#navbar>ul{
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#navbar>ul>li{
    list-style-type: none;
}
#navbar>ul>li>a{
   text-decoration: none;
}


/* setting navigation bar */


/* drop - 1 */
#dropone{
    display: none;
}
#navbar>ul>li:hover #dropone{
    display: block;
}

/* drop - 2 */
#droptwo{
    display: none;
    transition: all 0.5s ease-in 0.1s;
}
#navbar>ul>li:hover #droptwo{
    display: block;
    padding: 0%;
    
    
    
}



/* Editing the drop content */
#dropone{
    /* text-align: center; */
    position: relative;
    /* top: 40px; */
    height: 110px;
    border: 2px solid rgb(181, 171, 171);
}
#droptwo{
    /* position: absolute; */
    height: 297px;
    /* text-align: center; */
    border: 2px solid rgb(173, 161, 161);
   
}






/* setting position of main nav content */
a{
    /* margin: 1px; */
}
#navbar>ul>li{
    width: 150px;
   /* text-align: center; */
   height: 1px;

}
#navbar>ul>li>a{
    /* width: 150px; */
   /* text-align: center; */
   /* margin: 25px; */

}
#navbar>ul>li{
    text-decoration: none;
    list-style-type: none;
    
}

/* hover for anchor tag <a/> */

#navbar>ul>li>ul>li>a{
    color: white;
    transition: all 0.4s ease-in 0.1s;
    text-decoration: none;
    animation-name: drop;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
   
}
#navbar>ul>li>ul>li>a:hover{
    margin: 10px 8px;
    border-bottom: 2px solid rgb(205, 0, 0);
    
    /* list-style-type: none; */
    /* border-bottom: 8px; */  
}



/* #navbar>ul>li:hover #dropone{
height: 200px;
} */
#navbar>ul>li>ul>li{
   
    list-style-type: none;
    margin: 18px;
   
}

/* targeting ul */
#navbar>ul>li>ul{
    position: relative;
    /* bottom: 15px;
    right: 20px; */
     border-radius: 6px;
     opacity: 0.6;
     width: 200px;
     text-align:start;
     /* text-align: center; */
   transition: all 0.5s ease-in 0.1s;
   background-color: rgb(18, 17, 17) ;
}

#navbar>ul>li>a:hover{
    color: red;

}

/* logos */
i{
    margin-right: 6px;
}
#link{
    position: relative;
    left: 17px;
}